.row{

	background-color: transparent;

}

	
.thing {
	background-color: #222222; 
	height: 50px;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-weight: 700;
	font-size: 50;
	color: white;

}

.header {
 
	height: 1000px;
	width: 100%;
	padding: 30px 0 30px;
	background-image: url(../images/girish_home.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

.header h1 {
	font-size: 40px;
	font-weight: 700;
	padding-top: 30px;

}


.header .btn {

	border-radius: 0;
	margin: 40px 20px;
}





